:root {
  --blue-light: rgb(55, 80, 133);
  --blue-dark: #061563;
  --border-radius1: 2rem;
  --border-radius-small: 10px;
  --gray-shade1: rgb(241, 241, 241);
}

ul {
  padding: 0;
  margin: 0;
}

p {
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
}

.dashboard {
  display: flex;
  background-color: var(--gray-shade1);

}

.profile-column {
  padding: 1rem 0;
  position: fixed;
  background-color: var(--blue-dark);
  width: 100px;
  height: calc(100vh);
  left: 0;
  transition: 0.3s;

}

.middlebar {

  min-height: calc(100vh);
  background-color: var(--gray-shade1);
}

.rightbar {

  min-height: calc(100vh);
  background-color: #fff;

}

.profile {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  background-color: var(--blue-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  width: calc(100%-100px);
  margin-left: 100px;
  padding: 0;
 
}

.profile a {
  font-size: large;
  font-weight: 600;
  text-decoration: none;
}

.navoptions li {
  list-style: none;
}

.navoptions li i {
  padding: 15px 0;
}

.navoptions i.active {
  background-color: rgb(172, 172, 164);
  border-radius: 50%;
  padding: 15px;
  color: black;

}

.navoptions li.active i {
  color: black;

}

.navoptions li i:hover {
  background-color: rgb(172, 172, 164);
  color: black;
  padding: 15px;
  border-radius: 50%;
}

.navoptions i {
  color: white;
  font-size: larger;
}

.profile-column {
  display: flex;
  flex-direction: column;
  border-radius: 0 2rem 2rem 0;
}

.row {
  padding: 0;
  margin: 0;

}

.row-top {
  height: 10%;
}

.row-middle {
  height: 80%;
  align-items: center;
}

.row-bottom {
  height: 10%;
  align-items: end;
}

.profile img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* .middle-column {
  background-color: rgb(220, 220, 220);
} */

form {
  margin-top: 1rem;
  padding: 0 1rem;
  border-radius: 10px;
  background-color: white;
}

form i {
  align-content: center;
  color: var(--gray-shade1);

}

.round-cards {
  background-color: white;
  border-radius: var(--border-radius-small);
  padding: 2px;

}

.round-cards-blue {
  background-color: #061563;
  border-radius: var(--border-radius-small);
  padding: 2px;
  color: white;
  border: 2px solid;
}

.form-control {

  font-size: medium;
  color: var(--gray-shade1);
}

.filter-button {

  font-size: x-small;
  margin: 0.5rem 0;
  padding: 8px;
  border: none;
  border-radius: 10px;
  color: var(--blue-dark);
  display: flex;

}

button i {
  margin: 2px;
  color: var(--blue-dark);

}

.notification {
  display: flex;
  justify-content: end;
}

.notification-button {
  margin: 1rem 0;
  padding: 0.6rem;
  border-radius: 10px;
  background-color: white;

}

.all-summary {

  background-color: white;
  border-radius: var(--border-radius-small);
  margin: 0.9rem;

}

.flex-column-end {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.small-grey {
  color: grey;
  font-size: x-small;

}

.monthly-balance {
  background-color: var(--blue-dark);
  color: white;
  border-radius: var(--border-radius-small);
  margin: 0.9rem;
}

.send-money-button {
  display: flex;
  justify-content: center;
}

.fa-pie-chart {
  color: green;
  padding: 0.5rem;
}

.background-effect {
  background-color: var(--gray-shade1);
  border-radius: 50%;
  padding: 0.5rem;
}

.company-cards {
  background-color: white;
  border-radius: var(--border-radius-small);
}

.company-card-style1 {
  font-size: x-small;
}

.company-card-style2 {
  font-size: x-small;
  color: green;
}

/* right-sidebar */

.img {
  width: 130px;
  padding-top: 6px;
  margin-right: 10px;
  height: auto;
  object-fit: cover;
}

.transaction-item {
  margin-bottom: 10px;

}

.my-cards {
  display: flex;
}

.right-div {

  align-content: flex-start;
}

.left-div {
  align-items: left;
  align-content: flex-end;

}

.fa {
  border: 2px solid transparent;
  border-radius: 50%;
}

.transaction-icon {

  padding: 5px 0.4rem;
  border-radius: 50%;
  background-color: skyblue;
  /* font-size: 12px; */

}

.paypal {
  font-size: small;
  font-weight: 500;
}

.increment {
  color: rgb(208, 53, 53);
  font-size: small;
  float: right;
}

.img-container {
  display: flex;
  justify-content: center;

}

.img-container img {

  border: 4px solid white;
  height: 240px;
  width: 280px;
  object-fit: cover;
  border-radius: var(--border-radius-small);

}

.transaction-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #b7cce6;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
}

.main-content {

  transition: margin-left .3s ease, width .3s ease;
}

.sidebar-open {

  left: -100px;
  transition: 0.3s;

}

.main-content-expanded {
  margin-left: 0;
  transition: 0.3s;
}

.animated-button {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

/* @media (max-width: 1200px) {

  .middlebar {
    margin-left: 100px;
    width: 100%;
  }
} */

@media (max-width: 992px) {

  .main-content {
    flex-direction: column;
    width: calc(100% - 100px);
  }

  .middlebar {

    margin-left: 0;
    background-color: var(--gray-shade1);
  }

  .rightbar {

    margin-left: 0;
    background-color: var(--gray-shade1);
  }

  .main-content-expanded-responsive {
    width: calc(100%);
  }
}

@media screen and (width:640px) {
  .searchBar input {
    width: 10rem;
  }

}

@media (max-width:450px) {

  /* .profile-column.sidebar-open {
    transform: translateX(-100%);
  } */
  /* .main-content.main-content-expanded {
    width: calc(100% + 100px);
    margin-left: -100px;
  } */
  .searchBar form {
    margin-top: 24px;
  }

  .searchBar input {
    font-size: .7rem;
  }

  .searchBar .filter-button {
    display: none;
  }

  .notification-button {
    padding: .1rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
}